.task_list_title {
    font-size: 40px;
}

.task-list {
    list-style-type: none ; /* Remove bullet points */
    padding-left: 0; /* Remove default padding */
  }
  
  .task-list li {
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    font-size: 20px;
  }
  
  .task-list li input[type="checkbox"] {
    margin-right: 10%; /* Add some space between checkbox and text */
  }

.current_tasks{
    text-align: left;
}

.past_tasks{
    text-align: left;
}

.delete_button{
    margin-left: 10%;
    font-size: 16px;
}

.close-btn{
    background-color: white;
    border-color: black;
}

.big_task .close-btn{
    justify-content: right;
}

.title_x{
    display:flex;
    justify-content: center; /* Add space between elements */
    align-items: center;
}

.title_x .close-btn{
    margin-left: 0.75rem;;
}