#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  display: flex; /* Use flexbox layout */
  justify-content: space-between;
}


.task-list-container { /* Allow the task list container to take up available space */
  margin-left: 10%; /* Add margin for spacing */
}

.calendar-container{
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;
  justify-content: space-between;
  gap: 5%;
}

